<div>
    <h2 translate="inventoryappApp.item.home.title">Items</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="item.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="inventoryappApp.item.home.createLabel">Create new Item
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'inventoryappApp.item.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serialNumber"><span translate="inventoryappApp.item.serialNumber">SerialNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storageLocation"><span translate="inventoryappApp.item.storageLocation">StorageLocation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateAcquire"><span translate="inventoryappApp.item.dateAcquire">DateAcquire</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="group.name"><span translate="inventoryappApp.item.group">group</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="model.name"><span translate="inventoryappApp.item.model">model</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status.caption"><span translate="inventoryappApp.item.status">status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockAcquisition.invoiceId"><span translate="inventoryappApp.item.stockAcquisition">stockAcquisition</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items track by item.id">
                    <td><a ui-sref="item.detail({id:item.id})">{{item.id}}</a></td>
                    <td>{{item.serialNumber}}</td>
                    <td>{{item.storageLocation}}</td>
                        <td>{{item.dateAcquire | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="itemGroup.detail({id:item.group.id})">{{item.group.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="itemModel.detail({id:item.model.id})">{{item.model.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="ItemStatus.detail({id:item.status.id})">{{item.status.caption}}</a>
                    </td>
                    <td>
                        <a ui-sref="StockAcquisition.detail({id:item.stockAcquisition.id})">{{item.stockAcquisition.invoiceId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="item.detail({id:item.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item.edit({id:item.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item.delete({id:item.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
