<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><span translate="global.title">Inventory</span> <span class="navbar-version">v1.0</span></a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope fa-fw"></i><i class="fa fa-caret-down"></i>
            </a>
            <!-- TODO put message contents here -->
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tasks fa-fw"></i><i class="fa fa-caret-down"></i>
            </a>
            <!-- TODO put task contents here -->
        </li>
        <li class="dropdown" ng-controller="LanguageController">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-flag fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <!-- TODO put alert contents here -->
            <ul class="dropdown-menu dropdown-user">
                <li active-menu="{{language}}" ng-repeat="language in languages">
                    <a href="" ng-click="changeLanguage(language)"><i class="fa fa-gears fa-fw"></i> {{language | findLanguageFromKey}}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> <span translate="global.menu.account.settings">Settings</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-lock fa-fw"></i> <span translate="global.menu.account.password">Password</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> <span translate="global.menu.account.logout">Sign Out</span></a>
                </li>
            </ul>
            <!-- TODO put user menus here -->
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation" ng-switch="isAuthenticated()">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </li>
                <li>
                    <a href="#" ui-sref="main"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li has-authority="ROLE_ADMIN">
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> <span translate="global.menu.admin.main">Administration</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a ui-sref="user-management"> <span translate="global.menu.admin.user-management">User management</span></a></li>
                        <li><a ui-sref="tracker"> <span translate="global.menu.admin.tracker">Tracker</span></a></li>
                        <li><a ui-sref="metrics"> <span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li><a ui-sref="health"> <span translate="global.menu.admin.health">Health</span></a></li>
                        <li><a ui-sref="configuration"> <span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li><a ui-sref="audits"> <span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li><a ui-sref="logs"> <span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li><a ui-sref="docs"> <span translate="global.menu.admin.apidocs">API</span></a></li>
                    </ul>
                </li>
                <li>

                </li>
            </ul>
        </div>
    </div>
</nav>
<!--
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span translate="global.title">jhipster</span> <span class="navbar-version">v{{VERSION}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" translate="global.menu.home">Home</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Sign out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Sign in</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span translate="global.menu.admin.user-management">User management</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="tracker" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-eye-open"></span>
                                &nbsp;<span translate="global.menu.admin.tracker">User tracker</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                        <li ng-hide="inProduction"><a href='/h2-console' target="_tab" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-hdd"></span>
                            &#xA0;<span translate="global.menu.admin.database">Database</span></a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)" data-toggle="collapse" data-target=".navbar-collapse.in">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->
