<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><span translate="global.title">Inventory</span> <span class="navbar-version">v1.0</span></a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope fa-fw"></i><i class="fa fa-caret-down"></i>
            </a>
            <!-- TODO put message contents here -->
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tasks fa-fw"></i><i class="fa fa-caret-down"></i>
            </a>
            <!-- TODO put task contents here -->
        </li>
        <li class="dropdown" ng-controller="LanguageController">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-flag fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <!-- TODO put alert contents here -->
            <ul class="dropdown-menu dropdown-user">
                <li active-menu="{{language}}" ng-repeat="language in languages">
                    <a href="" ng-click="changeLanguage(language)"><i class="fa fa-gears fa-fw"></i> {{language | findLanguageFromKey}}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- TODO put user menus here -->
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation" ng-switch="isAuthenticated()">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Main Menu</a>
                    <ul class="nav nav-second-level">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="author">Author</a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a href="#">Not Authenticated</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
