
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myItemHistoryLabel" translate="inventoryappApp.itemHistory.home.createOrEditLabel">Create or edit a ItemHistory</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="itemHistory.id" readonly />
        </div>

        <div class="form-group">
            <label translate="inventoryappApp.itemHistory.item" for="field_item">item</label>
            <select class="form-control" id="field_item" name="item" ng-model="itemHistory.item" ng-options="item as item.id for item in items track by item.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="inventoryappApp.itemHistory.status" for="field_status">status</label>
            <select class="form-control" id="field_status" name="status" ng-model="itemHistory.status" ng-options="itemStatus as itemStatus.caption for itemStatus in itemstatuss track by itemStatus.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
